.flex-mt {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 50px;
}
.box-ai,
.box-firda,
.box-hairul,
.box-ika,
.box-novia,
.box-vicho,
.box-yona,
.box-ilman,
.box-mela,
.box-arinal,
.box-paranti {
  font-family: "Poppins", sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  width: 13%;
}

.img-all-mt {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.img-ilman {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.img-arinal {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.img-mela {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.img-paranti {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.nama-mt {
  font-weight: bold;
  color: #0d387c;
}
.icon-mt {
  color: #0d387c;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .box-ai,
  .box-firda,
  .box-hairul,
  .box-ika,
  .box-novia,
  .box-vicho,
  .box-yona,
  .box-ilman,
  .box-mela,
  .box-arinal,
  .box-paranti {
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    width: 40% !important;
  }
  .flex-mt {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 820px) {
    .box-ai,
    .box-firda,
    .box-hairul,
    .box-ika,
    .box-novia,
    .box-vicho,
    .box-yona,
    .box-ilman,
    .box-mela,
    .box-arinal,
    .box-paranti {
      font-family: "Poppins", sans-serif;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 10px;
      border: 2px solid white;
      border-radius: 10px;
      width: 40% !important;
    }
    .flex-mt {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 912px) {
    .box-ai,
    .box-firda,
    .box-hairul,
    .box-ika,
    .box-novia,
    .box-vicho,
    .box-yona,
    .box-ilman,
    .box-mela,
    .box-arinal,
    .box-paranti {
      font-family: "Poppins", sans-serif;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 10px;
      border: 2px solid white;
      border-radius: 10px;
      width: 40%;
    }
    .flex-mt {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 280px) {
    .box-ai,
    .box-firda,
    .box-hairul,
    .box-ika,
    .box-novia,
    .box-vicho,
    .box-yona,
    .box-ilman,
    .box-mela,
    .box-arinal,
    .box-paranti {
      font-family: "Poppins", sans-serif;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 10px;
      border: 2px solid white;
      border-radius: 10px;
      width: 100%;
    }
    .flex-mt {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 412px) {
    .box-ai,
    .box-firda,
    .box-hairul,
    .box-ika,
    .box-novia,
    .box-vicho,
    .box-yona,
    .box-ilman,
    .box-mela,
    .box-arinal,
    .box-paranti {
      font-family: "Poppins", sans-serif;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 10px;
      border: 2px solid white;
      border-radius: 10px;
      width: 100%;
    }
    .flex-mt {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 1024px) {
    .box-ai,
    .box-firda,
    .box-hairul,
    .box-ika,
    .box-novia,
    .box-vicho,
    .box-yona,
    .box-ilman,
    .box-mela,
    .box-arinal,
    .box-paranti {
      font-family: "Poppins", sans-serif;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 10px;
      border: 2px solid white;
      border-radius: 10px;
      width: 20%;
    }
    .flex-mt {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 1280px) {
    .box-ai,
    .box-firda,
    .box-hairul,
    .box-ika,
    .box-novia,
    .box-vicho,
    .box-yona,
    .box-ilman,
    .box-mela,
    .box-arinal,
    .box-paranti {
      font-family: "Poppins", sans-serif;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 10px;
      border: 2px solid white;
      border-radius: 10px;
      width: 20%;
    }
    .flex-mt {
      display: flex;
      flex-wrap: wrap;
    }
  }

  /* HP */
  @media only screen and (max-width: 414px) {
    .box-ai,
    .box-firda,
    .box-hairul,
    .box-ika,
    .box-novia,
    .box-vicho,
    .box-yona,
    .box-ilman,
    .box-mela,
    .box-arinal,
    .box-paranti {
      font-family: "Poppins", sans-serif;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 10px;
      border: 2px solid white;
      border-radius: 10px;
      width: 100% !important;
    }
    .flex-mt {
      display: flex;
      flex-wrap: wrap;
    }
  }

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-80%);
  }
}
